<template name="addBlock">
	{{!-- <div class="block-modal modal">
		<a href="/{{slug}}/edit" class="close-modal-btn close-modal-trigger btn">&#10006;</a> --}}
		{{!-- <div class="modal-container clearfix"> --}}
			<div class="pad-2">
				{{> addNewBlock}}
			</div>

			<div class="pad-2">
				{{> insertExistingBlock}}
			</div>
		{{!-- </div> --}}
{{!-- 	</div> --}}
</template>

<template name="addNewBlock">
	<h3>Add New Block</h3>

	<form class="form" name="new-block-form">
		<div class="block-content">

			{{> formInput label="Block Name:" id="block-name" name="block-name" type="text"}}
			{{> formSelect label="Select Block Template:" id="block-template-type" name="template-type" options=blockTemplates}}

			
			<div class="form-control">
				<label class="label block-label" for="template-type">Select Page:</label>
				{{#each pages}}
					{{> formCheckbox name="block-page" classes="block-page-checkbox" value=title }}
				{{/each}}
			</div>

			<div class="form-control pad-t-2">
				<input class="btn green-btn" type="submit" value="Save Block"/>
			</div>
		</div>
	</form>
</template>


<template name="insertExistingBlock">
	<h3>Insert Existing Block</h3>

	<div class="post-table table grid-1">
		<div class="table-headings grid-1">
			<div class="block-name-heading heading grid-1-4">
				Title
			</div>

			<div class="block-template-heading heading grid-1-4">
				Block Template
			</div>

			<div class="block-page-heading heading grid-1-4">
				Block Pages
			</div>
		</div>

		<div class="page-data table-data grid-1">
			{{#each blocks}}
				{{>insertBlockRow}}
			{{/each}}
		</div>
	</div>
</template>	

<template name="insertBlockRow">
	<div class="block-row table-row row grid-1">
		<div class="block-name table-cell grid-1-4">
			{{blockName}}
		</div>

		<div class="block-template table-cell grid-1-4">
			{{blockTemplate}}
		</div>

		<div class="block-page table-cell grid-1-4">
			{{#each blockPages}}
				<p>{{this}}</p>
			{{/each}}
		</div>

		<div class="block-page table-cell grid-1-4">
			<button class="insert-block-btn btn">Insert Block</button>
		</div>
	</div>
</template>	