<template name="viewBlocks">
	<div class="view-blocks-modal modal off-page">
		<button class="close-modal-btn btn">&#10006;</button>
		<div class="modal-container clearfix">
			<h3 class="">Blocks</h3>
			<div class="post-table table grid-1">
				<div class="table-headings grid-1">
					<div class="block-name-heading heading grid-1-4">
						Title
					</div>

					<div class="block-template-heading heading grid-1-4">
						Block Template
					</div>

					<div class="block-page-heading heading grid-1-4">
						Block Page
					</div>
				</div>

				<div class="page-data table-data grid-1">
					{{#each this}}
						{{>blockRow}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="blockRow">
	<div class="block-row table-row row grid-1">
		<div class="block-name table-cell grid-1-4">
			{{blockName}}
		</div>

		<div class="block-template table-cell grid-1-4">
			{{blockTemplate}}
		</div>

		<div class="block-page table-cell grid-1-4">
			{{#if blockPages}}
				{{#each blockPages}}
					<p>{{pageName}}</p>
				{{/each}}
			{{else}}
				<p>None</p>
			{{/if}}
		</div>

		<div class="block-page table-cell grid-1-4">
			<button class="delete-block-btn delete-btn btn">Delete Block</button>
		</div>
	</div>
</template>