<template name="viewBlocks">
	<div class="view-blocks-modal modal off-page">
		<button class="close-modal-btn btn">&#10006;</button>
		<div class="modal-container clearfix">
			<h3 class="">Blocks</h3>
			<div class="post-table table grid-1">
				<div class="table-headings grid-1">
					<div class="title-heading heading grid-1-4">
						Title
					</div>

					<div class="slug-heading heading grid-1-4">
						
					</div>
				</div>

				<div class="page-data table-data grid-1">
					{{#each this}}
						{{blockName}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>