<template name="settings">
	<div class="settings-modal modal off-page">
		<button class="close-modal-btn btn">X</button>
		<div class="settings-container">
			{{> errors}}
			<h3>Settings</h3>

			<form name="settings form">
				<div class="form-control">
					<label>Landing Page</label>
					<select name="landing-page">
						{{#each pages}}
							<option name="{{title}}-page" value="{{title}}">{{title}}</option>
						{{/each}}
					</select>
				</div>

				<input type="submit" value="Save settings">
			</form>
		</div>
	</div>
</template>