.alert{
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 15px;
	transition: opacity 300ms ease-out;
	opacity: 1.0;
	background-color: red;
	color: white;
	z-index: 1000;

	&.success{
		background-color: fade-out($green, .05);
	}
}