.btn{
	border: none;
	border-radius: 2px;
	padding: .5rem;
	background-color: $dark;
	color: white;
	cursor: pointer;
	font-size: .7rem;
	transition: all 300ms ease-out;

	&.negative-btn{
		background-color: $red;
	}

	&.positive-btn{
		background-color: $green;

		&:hover{
			background-color: darken($green, 10%);
		}
	}

	&.plus-btn{
		transform: rotate(45deg);
		width: 35px;
		height: 35px;
	}
}

.toggle-btn{
	padding: 0;
	background-color: transparent;
	color: $dark;
	line-height: 0;
}

.page-settings-btn{
	position: absolute;
	right: 20px;
	top: 5px;
	z-index: 300;

	&.active{
		transform: rotate(0deg);
	}
}

.submit-btn{
	position: fixed;
	top: 500px;
	left: 20px
}

.admin-buttons{
	position: fixed;
	top: 90px;
	right: 20px;
	z-index: 999;

	.btn{
		position: relative;
		display: block;
		margin-bottom: 10px;
	}
}

.admin-controls-btn{
	@extend .toggle-btn;
	top: 20px;
	left: 20px;

	&.off-page{
		left: -50px;
	}
}

.page-edit-btn{
	@extend .toggle-btn;
	bottom: 20px;
	left: 20px;
}