.btn{
	border: none;
	border-radius: 2px;
	padding: .5rem;
	background-color: $dark;
	color: white;
	cursor: pointer;
	font-size: .7rem;
	transition: all 300ms ease-out;

	&.negative-btn{
		background-color: $red;
	}

	&.positive-btn{
		background-color: $green;

		&:hover{
			background-color: darken($green, 10%);
		}
	}

	&.plus-btn{
		transform: rotate(45deg);
		width: 35px;
		height: 35px;
	}

	&.page-edit-btn{
		position: fixed;
		bottom: 10px;
		left: 50%;
		transform: rotate(45deg) translateX(-50%);
		background-color: transparent;
		color: $dark;
	}
}

.page-settings-btn{
	position: absolute;
	right: 20px;
	top: 5px;
	z-index: 300;
	transition:all 300ms ease-out;
	transform: rotate(45deg);

	&.active{
		transform: rotate(0deg);
	}
}

.submit-btn{
	position: fixed;
	top: 500px;
	left: 20px
}

.admin-buttons{
	position: fixed;
	top: 90px;
	right: 20px;
	z-index: 999;

	.btn{
		position: relative;
		display: block;
		margin-bottom: 10px;
	}
}

.admin-controls-btn{
	padding: 0;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 999;
	line-height: 0;
	color: $dark;
	background-color: transparent;
	transform: rotate(-45deg);
	transform-origin: center center;
	transition: all 400ms cubic-bezier(.35,-0.06,.15,1.10) 0ms;

	&.off-page{
		left: -50px;
	}
}