.sidebar-editor{
	position: absolute;	
	padding: 5px;
	z-index: -1;
	opacity: 0.0;
	background-color: $dark-grey;
	color: white;
	@include border-radius(3px);
	@include transition(all 300ms ease-out);

	&.shown{
		opacity: 1.0;
		z-index: 1000;
	}


	a{
		display: inline-block;
		padding: 0px 2px;
		width: 30px;
		color: white;
		text-align: center;
		font-family: $heading-font;
		font-weight: 600;
	}

	.toolbar-section{
		padding: 5px 0px;
		border-bottom: 1px solid grey;
		float: left;
		clear: both;

		&:last-of-type{
			border: none;
		}

		&:first-of-type{
			padding: 0rem 0rem 1rem 0rem;
		}
	}
}

.insert-content-menu{
	position: absolute;
	height: 43px;
	left: -40px;
	padding-top: 2px;
	margin-top: -10px;
	z-index: -1;
	@include transition(all 300ms ease-out);

	&.is-active{
		z-index: 100;
		.add-content-icon{
			opacity: 1.0;
			@include transform(scale(1));
		}

		.insert-content-btn{
			color: white;

			&:after{
				@include rotate(0deg);
			}
		}
	}

	&.off-page{
		opacity: 0.0;
	}
}

.insert-content-btn{
	position: relative;
	height: 39px;
	width: 39px;
	font-size: 1rem;
	line-height: 0rem;
	color: white;
	position: relative;
	z-index: 100;
	left: 0;
	top: -12px;
	background-color: transparent;
	border-radius: 50%;
	border: 3px solid $dark-grey;
	@include transition(all 300ms ease-out);

	&:after{
		content: '\2716';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		font-size: .9rem;
		line-height: 1.9rem;
		color: $dark-grey;
		@include rotate(-45deg);
		@include transition(all 300ms ease-out);
	}
}

.add-content-icon{
	opacity: 0.0;
	width: 100px;
	height: 100px;
	transform-origin: center center;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0px 0px 3px -1px transparent;
	@include transition(all 300ms ease-out);
	@include transform(scale(0));

	&:hover{
		box-shadow: 0px 0px 3px -1px $dark-grey;
	}
}


.add-content-icon{
	height: 39px;
	width: 39px;
}