.sidebar-editor{
	position: absolute;	
	padding: 5px;
	z-index: -1;
	opacity: 0.0;
	background-color: $dark-grey;
	color: white;
	@include border-radius(3px);
	@include transition(all 300ms ease-out);

	&.shown{
		opacity: 1.0;
		z-index: 1000;
	}


	a{
		display: inline-block;
		padding: 0px 2px;
		width: 30px;
		color: white;
		text-align: center;
		font-family: $heading-font;
		font-weight: 600;
	}

	.toolbar-section{
		padding: 5px 0px;
		border-bottom: 1px solid grey;
		float: left;
		clear: both;

		&:last-of-type{
			border: none;
		}

		&:first-of-type{
			padding: 0rem 0rem 1rem 0rem;
		}
	}
}

.insert-content-menu{
	position: absolute;
	height: 43px;
	width: 39px;
	left: -40px;
	padding-top: 2px;
	margin-top: -10px;
	background-color: transparent;
	overflow: hidden;
	@include transition(all 300ms ease-out);

	&.is-active{
		width: 202px;
		background-color: $dark-grey;
		.insert-content-menu-icons{
			@include translate3d(0px, 0px, 0px);
		}

		.insert-content-btn{
			color: white;
			@include rotate(45deg);
			@include border-radius(0px);
		}
	}
}

.insert-content-btn{
	height: 39px;
	width: 39px;
	font-size: 1rem;
	line-height: 0rem;
	color: $blue;
	font-weight: 900;
	@include border-radius(50%);
	position: relative;
	background-color: transparent;
	left: 0;
	top: 0;
	@include transition(all 300ms ease-out);
}

.insert-content-menu-icons{
	position: absolute;
	left: 40px;
	top: 2px;
	height: 39px;
	overflow: hidden;
	@include transition(all 300ms ease-out);
	@include translate3d(0px, -100px, 0px);
}

.add-content-icon{
	height: 39px;
	width: 39px;
}