.form-wrapper{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.form-control{
	margin-bottom: 1.5rem;
	position: relative;
}

input{
	&.no-pad{
		padding: 0;
	}

	&.full{
		width: 100%;
	}
}

.input-field{
	position: relative;
	border: 0;
	font-size:1rem;
	padding: .5rem;
	border-radius: 2px;
	background-color: fade-out(darken(white, .1), .5);
	color: $dark;
	transition: all 300ms ease-out;
	z-index: 2;
	
	&.expanded{
		outline: none;
		background-color: transparent;
		color: white;

		& ~ .input-overlay{
			height: 100%;
			z-index: 1;
		}
	}
}

label{
	font-size: .8rem;
	margin-bottom: 5px;
	z-index: 2;
	pointer-events: none;

	&.input-label{
		position: absolute;
		left: 0;
		bottom: 15px;
	}

	&.select-label{
		display: block;
	}
}

.input-overlay{
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: $dark;
	bottom: 0;
	left: 0;
	border-radius: 2px;
	transition: height 300ms ease-out;
}
