.main-header{
	height: 50px;
	width: 100%;
	position: relative;
	background-color: white;
	text-align: center;
	padding: .5rem;

	a{
		padding: .25rem .5rem;
		color: $blue;
		@include transition(all 300ms ease-out 100ms);

		&:hover{
			color: $dark-grey;
		}
	}

}

.admin-header{
	position: fixed;
	height: 100vh;
	width: 150px;
	text-align: center;
	@include transition(all 400ms cubic-bezier(.35,-0.06,.15,1.10) 0ms);
	@include transform-origin(-150px, top);
	@include transform(rotate3d(0, 1, 0, 90deg) translate3d(0px, 0px, 0px));
	z-index: -1;
	margin-top: 3rem;


	&.shown{
		@include transform(rotate3d(0, 0, 0, 0deg) translate3d(0px, 0px, 0px));
		@include transition(all 400ms cubic-bezier(.35,-0.06,.15,1.10) 200ms);
		z-index: 99;
	}

	a{
		display: block;
		color: white;
		position: relative;
		height: 50px;
		margin-bottom: 5px;
		@include perspective(300px);

		&:hover{
			.hover-item-1{
				@include rotate3d(0,1,0,90deg);
				border-right: 3px solid $blue;
				opacity:0.0;
			}
		}
	}

	.hover{
		position: absolute;
		padding: 10px 0px;
		height: 100%;
		width: 100%;
		opacity:1.0;
		@include transform-origin(0px, center);
		@include transition(all 300ms cubic-bezier(0,-0.21,.95,-0.25) 0ms);


	}

	.hover-item-1{
		color: $dark-grey;
		background-color: white;
		z-index: 2;
	}

	.hover-item-2{
		color: white;
		border-right: 3px solid white;
		background-color: $dark-grey;
		z-index: 1;
	}
}