.hidden{
	display: none;
}

.clearfix{
	@include pie-clearfix;
}

.inline{
	display: inline-block;
}

.block{
	display: block;
}

.left-align{
	text-align: left;
}


.right-align{
	text-align: right;
}

.pad-1{
	padding: 1rem;
}

.pad-r-1{
	padding-right: 1rem;
}

.pad-l-1{
	padding-left: 1rem;
}

.pad-2{
	padding: 2rem;
}

.pad-r-2{
	padding-right: 2rem;
}

.pad-l-2{
	padding-left: 2rem;
}
