.hidden{
	display: none;
}

.clearfix{
	overflow: hidden;
}

.inline{
	display: inline-block;
}

.block{
	display: block;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.left-align{
	text-align: left;
}

.t-a-center{
	text-align: center;
}

.right-align{
	text-align: right;
}

.no-pad{
	padding: 0;
}

.pad-1{
	padding: 1rem;
}

.pad-r-1{
	padding-right: 1rem;
}

.pad-l-1{
	padding-left: 1rem;
}

.pad-2{
	padding: 2rem;
}

.pad-t-2{
	padding-top: 2rem;
}

.pad-r-2{
	padding-right: 2rem;
}

.pad-l-2{
	padding-left: 2rem;
}
