.add-page-container{
	background-color: $light-grey;
}

.page-container{
	width: 100%;
	padding-top: 80px;
	min-height: 100vh;
	opacity: 0;
	z-index: 1;

	.page-title{
		margin-bottom: 1.5rem;
		transition:all 300ms ease-out;

		&.off-page{
			display: none;
		}
	}
}

.page-edit-mode{
	.page-edit-btn{
		background-color: $dark;
		color: white;
	}
}


.page-container.off-page{
	transform:rotate3d(0,1,0,-15deg);
	opacity:0.0;
	transform-origin:-300px bottom;
}

.page-settings{
	position: fixed;
	width: 100%;
	height: 40px;
	bottom: -100px;
	right: 0;
	background-color: $dark;
	backface-visibility: hidden;
}

.page-actions{
	position: absolute;
	left: 1rem;
}

.page-buttons{
	width: 100%;
	padding-right: 60px;
}

.page-btn{
	font-size: .9rem;
	position: relative;
	&:first-of-type{
		margin-right: 10px;
	}

}