.settings-container{
	background-color: $light-grey;
	overflow: hidden;
}

.settings-header{
	position: relative;

	&.has-toggle{
		&:after{
			content: '\2716';
			position: absolute;
			top: 0;
			right: 20px;
			font-size: 1rem;
			line-height: 3.5rem;
			color: $dark;
			transform: rotate(-45deg);
			transition:all 300ms ease-out;	
		}
	}

	&.active{
		&:after{
			transform: rotate(0deg);
		}
	}

	.toggle{
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		cursor: pointer;
	}
}

.settings-header-image{
		max-width: 300px;
	}

.settings-content{
	opacity: 1.0;
	transition:opacity 300ms ease-out;

	&.off-page{
		opacity: 0.0;
	}
}