.table{

}

.table-headings{

	.heading{
		font-size: 1.3rem;
		font-weight: 600;
		padding-left: 1rem;	
	}
}

.table-row{
	padding: .5rem;

	&:nth-of-type(even){
		background-color: $light-grey;
	}
}