@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

$serif: 'Lora', Helvetica, serif;
$sansSerif: 'Source Sans Pro', Helvetica, sans-serif;


$light-blue:rgb(206, 230, 241);
$blue: rgb(87, 176, 204);
$dark: #27073A;
$light-grey: rgb(215, 215, 215);
$green: rgb(111, 186, 35);
$red: rgb(217, 58, 58);
$yellow: #F1BD3B;

.white-bg{
	background-color: white;
}

.white{
	color: white;
}