<template name="addPost">
	<div class="add-post-modal modal off-page">
		<button class="close-modal-btn btn">X</button>
		{{> editor}}
		<div class="add-post-container modal-container with-sidebar off-page">
			<h3>Add New Post</h3>

			<form class="form" name="new-post-form">
				<div class="post-content">
					<div class="form-control">
						<label class="label" for="title">Title</label>
						<input id="title" name="title" type="text" value="{{title}}"/>
					</div>

					<div class="edit-slug-box">
						<span class="sample-slug">
							Permalink: {{url}}<span class="editable-slug">{{value}}</span>
							<input id="slug" class="hidden" name="slug" type="text" value="{{slug}}"/>
						</span>
					</div>

					<div class="editor form-control">
						<div id="page-body" class="output text-view" contenteditable>
							<section class="post-section first-section" contenteditable = "false">
								<div class="post-section-inner" contenteditable = "true">
									<p>Start Here</p>
								</div>
							</section>
						</div>
						
						<textarea id="body-output" name="editor"></textarea>
					</div>	

					<input type="submit" value="Save Post"/>
				</div>
			</form>
		</div>
	</div>
</template>