<template name="showPost">
	<div class="post-container off-page">
		{{#if isInRole 'admin'}}
			<button class="edit-post-btn edit-btn btn">Edit</button>
		{{/if}}

		{{#if editMode}}
			{{> editPost}}
		{{else}}
			{{> postSingle}}
		{{/if}}
	</div>
</template>

<template name="editPost">
	{{>editor}}
	<div class="post-inner inner with-sidebar edit-mode">
		<form name="edit-post editable">

			<div class="featured-image-field">
				{{#if featuredImage}}
					<h4>Featured Image</h4>
				{{/if}}
					<img class="media-image full-width featured-image block" src="{{featuredImage}}"/>
					<input type="text" name="featured-image" value="{{featuredImage}}" class="hidden"/>
				{{#if featuredImage}}
					<button class="featured-image-btn btn">Change Image</button>
					<button class="remove-image-btn">Remove Featured Image</button>
				{{else}}
					<button class="featured-image-btn btn">Set Featured Image</button>
				{{/if}}
			</div>
			
			<h1 class="post-title title" contenteditable="true">{{{title}}}</h1>

			<div class="post-content" contenteditable="true">
				{{{content}}}
			</div>
			
			{{> insertContentButton}}

			<a href="#" class="save-post-btn page-btn">
				<img src="/images/check.svg"/>
				<span class="save-text">SAVE</span>
			</a>

			<a href="#" class="delete-post-btn page-btn">
				<img src="/images/x.svg"/>
				<span class="save-text">DELETE</span>
			</a>

		</form>
	</div>
</template>

<template name="postSingle">
	<div class="post-inner inner">
		<h1 class="post-title title">{{{title}}}</h1>

		<div class="post-content content">
			{{{content}}}
		</div>
	</div>
</template>

<template name="insertContentButton">
	<div class="insert-content-menu">
		<button class="btn insert-content-btn"></button>
		<svg version="1.1" class="insert-content-menu-icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 160.8 40" enable-background="new 0 0 160.8 40" xml:space="preserve">
			 	<g class="add-image-icon add-content-icon">
				 	<rect x="2.2" y="3.3" fill="#ffffff" stroke="#222222" stroke-width="2" stroke-miterlimit="10" width="33.4" height="33.4"/>
					<circle fill="#222222" cx="14.8" cy="17.4" r="6.1"/>
					<polygon fill="#EDEDED" stroke="#222222" stroke-miterlimit="10" points="2.2,25.8 12.8,18.2 22.7,22 35.6,12.5 35.6,36.7 2.2,36.7"/>
				</g>

				<g class="add-code-icon add-content-icon">
					<rect x="63.7" y="3.3" fill="#ffffff" stroke="#222222" stroke-width="2" stroke-miterlimit="10" width="33.4" height="33.4"/>
					<polyline fill="none" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="76.1,13.9 69.3,20.2 76.1,26.2 "/>
					<polyline fill="none" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="84.8,13.9 
			91.6,20.2 84.8,26.2 "/>
				</g>

				<g class="add-hr-icon add-content-icon">
					<rect x="125.3" y="3.3" fill="#ffffff" stroke="#222222" stroke-width="2" stroke-miterlimit="10" width="33.4" height="33.4"/>
					<line fill="none" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="132.6" y1="20" x2="152" y2="20"/>
				</g>
		</svg>
	</div>
</template>