<template name="showPost">
	<div class="post-container off-page">
		{{#if isInRole 'admin'}}
			<button class="edit-post-btn edit-btn btn">Edit</button>
		{{/if}}

		{{#if editMode}}
			{{> editPost}}
		{{else}}
			{{> postSingle}}
		{{/if}}
	</div>
</template>

<template name="editPost">
	{{>editor}}
	<div class="post-inner inner with-sidebar edit-mode">
		<form name="edit-post editable">

			<div class="featured-image-field">
				{{#if featuredImage}}
					<h4>Featured Image</h4>
				{{/if}}
					<img class="media-image full-width featured-image block" src="{{featuredImage}}"/>
					<input type="text" name="featured-image" value="{{featuredImage}}" class="hidden"/>
				{{#if featuredImage}}
					<button class="featured-image-btn btn">Change Image</button>
					<button class="remove-image-btn">Remove Featured Image</button>
				{{else}}
					<button class="featured-image-btn btn">Set Featured Image</button>
				{{/if}}
			</div>
			
			<h1 class="post-title title" contenteditable="true">{{{title}}}</h1>

			<div class="post-content" contenteditable="true">
				{{{content}}}
			</div>
			
			{{> insertContentButton}}

			<a href="#" class="save-post-btn page-btn">
				<img src="/images/check.svg"/>
				<span class="save-text">SAVE</span>
			</a>

			<a href="#" class="delete-post-btn page-btn">
				<img src="/images/x.svg"/>
				<span class="save-text">DELETE</span>
			</a>

		</form>
	</div>
</template>

<template name="postSingle">
	<div class="post-inner inner">
		<h1 class="post-title title">{{{title}}}</h1>

		<div class="post-content content">
			{{{content}}}
		</div>
	</div>
</template>

<template name="insertContentButton">
	<div class="insert-content-menu off-page">
		<button class="btn insert-content-btn"></button>
		
		<svg version="1.1" class="add-image-icon add-content-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
			<path class="circle" d="M50,3.9c25.4,0,46.1,20.7,46.1,46.1S75.4,96.1,50,96.1S3.9,75.4,3.9,50S24.6,3.9,50,3.9 M50,0.9C22.9,0.9,0.9,22.9,0.9,50s22,49.1,49.1,49.1s49.1-22,49.1-49.1S77.1,0.9,50,0.9L50,0.9z"/>

			<path fill="#FFFFFF" stroke="#000000" stroke-width="2.5698" stroke-linecap="round" stroke-miterlimit="10" d="M32.8,39"/>
	
			<polyline fill="none" stroke="#000000" stroke-width="2.57" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
			71.5,67.5 28.5,67.5 28.5,38.6 	"/>
		
			<polyline fill="none" stroke="#000000" stroke-width="2.57" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
			28.5,38.6 71.5,38.6 71.5,67.5 	"/>
		
			<circle fill="none" stroke="#000000" stroke-width="2.57" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="49.7" cy="52.8" r="5.6"/>
		
			<rect x="56.8" y="32.5" fill="none" stroke="#000000" stroke-width="2.57" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="9.8" height="5.5"/>
		</svg>

		<svg version="1.1" class="add-code-icon add-content-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
			<path class="circle" d="M50,3.9c25.4,0,46.1,20.7,46.1,46.1S75.4,96.1,50,96.1S3.9,75.4,3.9,50S24.6,3.9,50,3.9 M50,0.9C22.9,0.9,0.9,22.9,0.9,50s22,49.1,49.1,49.1s49.1-22,49.1-49.1S77.1,0.9,50,0.9L50,0.9z"/>
			<path fill="#FFFFFF" stroke="#000000" stroke-width="2.5698" stroke-linecap="round" stroke-miterlimit="10" d="M32.8,36.5"/>
			<polyline fill="none" stroke="#000000" stroke-width="2.57" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
				33.7,64.4 19.2,50.3 33.4,35.6 "/>
			<polyline fill="none" stroke="#000000" stroke-width="2.57" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
				66.3,35.8 80.7,49.7 66.7,64.1 "/>
		</svg>

		<svg version="1.1" class="add-hr-icon add-content-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
			<path class="circle" d="M50,3.9c25.4,0,46.1,20.7,46.1,46.1S75.4,96.1,50,96.1S3.9,75.4,3.9,50S24.6,3.9,50,3.9 M50,0.9C22.9,0.9,0.9,22.9,0.9,50s22,49.1,49.1,49.1s49.1-22,49.1-49.1S77.1,0.9,50,0.9L50,0.9z"/>
			<line fill="#FFFFFF" stroke="#000000" stroke-width="2.5698" stroke-linecap="round" stroke-miterlimit="10" x1="23.3" y1="50" x2="47.7" y2="50"/>
			<line fill="#FFFFFF" stroke="#000000" stroke-width="2.5698" stroke-linecap="round" stroke-miterlimit="10" x1="52.3" y1="50" x2="76.7" y2="50"/>
		</svg>
	</div>
</template>