<template name="showPost">
	<div class="post-container off-page">
		{{#if isInRole 'admin'}}
			<div class="post-actions">
				<a href="/posts/{{slug}}/edit" class="edit-post-btn edit-btn post-btn btn">EDIT</a>

				{{#if editMode}}
				<button class="save-post-btn positive-btn post-btn btn">SAVE</button>
				<button class="delete-post-btn negative-btn post-btn btn">DELETE</button>
				{{/if}}
			</div>

			{{#if editMode}}
				{{> editPost}}
			{{else}}
				{{> postSingle}}
			{{/if}}
		{{else}}
			{{> postSingle}}
		{{/if}}
	</div>
</template>

<template name="postSingle">
	<div class="post-inner inner">
		<h1 class="post-title title">{{{title}}}</h1>

		<div class="post-content content">
			{{{content}}}
		</div>
	</div>
</template>