<template name="adminHeader">
	<div class="admin-header">
		<ul>
			<li class="menu-item">
				<a href="#" class="main-menu view-pages-btn">
					<div class="hover-item-1 hover">Pages</div>
					<div class="hover-item-2 hover">Pages</div>
				</a>
				<div class="sub-menu">
					<a href="#" class="view-pages-btn">View Pages</a>
					<a href="#" class="add-page-btn">Add Page</a>
				</div>
			</li>

			<li class="menu-item">
				<a href="#" class="main-menu view-posts-btn">
					<div class="hover-item-1 hover">Posts</div>
					<div class="hover-item-2 hover">Posts</div>
				</a>
				<div class="sub-menu">
					<a href="#" class="view-posts-btn">View Posts</a>
					<a href="#" class="add-post-btn">Add Posts</a>
				</div>
			</li>

			<li class="menu-item">
				<a href="#" class="main-menu add-media-btn">
					<div class="hover-item-1 hover">Media</div>
					<div class="hover-item-2 hover">Media</div>
				</a>
			</li>

			<li class="menu-item">
				<a href="#" class="main-menu settings-btn">
					<div class="hover-item-1 hover">Settings</div>
					<div class="hover-item-2 hover">Settings</div>
				</a>
			</li>
		</ul>
	</div>
</template>