<template name="adminHeader">
	<div class="admin-header">
		<a href="#" class="add-page-btn">
			<div class="hover-item-1 hover">Add Page</div>
			<div class="hover-item-2 hover">Add Page</div>
		</a>

		<a href="#" class="add-post-btn">
			<div class="hover-item-1 hover">Add Post</div>
			<div class="hover-item-2 hover">Add Post</div>
		</a>

		<a href="#" class="settings-btn">
			<div class="hover-item-1 hover">Settings</div>
			<div class="hover-item-2 hover">Settings</div>
		</a>
	</div>
</template>