<template name="adminHeader">
	<div class="admin-header">
		<ul>
			<li class="menu-item">
				<a href="#" class="main-menu view-pages-btn">
					<div class="hover-item-1 hover">Pages</div>
					<div class="hover-item-2 hover">Pages</div>
				</a>
				<div class="sub-menu">
					<a href="/admin/pages" class="view-pages-btn">View</a>
					<a href="/admin/pages/add" class="add-page-btn">Add</a>
				</div>
			</li>

			<li class="menu-item">
				<a href="#" class="main-menu view-posts-btn">
					<div class="hover-item-1 hover">Posts</div>
					<div class="hover-item-2 hover">Posts</div>
				</a>
				<div class="sub-menu">
					<a href="#" class="view-posts-btn">View</a>
					<a href="#" class="add-post-btn">Add</a>
				</div>
			</li>

			<li class="menu-item">
				<a href="#" class="main-menu add-media-btn">
					<div class="hover-item-1 hover">Media</div>
					<div class="hover-item-2 hover">Media</div>
				</a>
			</li>

			<li class="menu-item">
				<a href="#" class="main-menu settings-btn">
					<div class="hover-item-1 hover">Settings</div>
					<div class="hover-item-2 hover">Settings</div>
				</a>
				<div class="sub-menu">
					<a href="/admin/settings" class="menu-settings-general-btn">General</a>
					<a href="#" class="menu-settings-btn">Menus</a>
				</div>
			</li>

			<li class="menu-item">
				<a href="#" class="main-menu view-blocks-btn">
					<div class="hover-item-1 hover">Blocks</div>
					<div class="hover-item-2 hover">Blocks</div>
				</a>

				<div class="sub-menu">
					<a href="/admin/blocks" class="view-blocks-btn">View</a>
					<a href="/admin/blocks/add" class="view-blocks-btn">Add</a>
				</div>
			</li>
		</ul>
	</div>
</template>