<template name="header">
	{{#if Template.subscriptionsReady}}
		{{setTitle siteTitle}}
		<header class="main-header">
			<div class="inner">
				{{#if headerImage}}
					<a href="/" class="home-toggle page-toggle logo"><img src="{{headerImage}}" class="header-image"/></a>
				{{/if}}

				{{#if headerMenu}}
					<nav class="main-nav">
					{{#each menuLinks}}
						<a href="{{linkUrl}}" class="{{linkTitle}}-toggle page-toggle nav-link" data-slug="{{slug}}">{{linkTitle}}</a>
					{{/each}}
					</nav>
				{{/if}}
			</div>
		</header>
	{{/if}}
</template>