<head>
	  <script type="text/javascript" src="//use.typekit.net/sau6dnt.js"></script>
	  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	  <link rel="stylesheet"  type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
</head>

<template name="layout">
	{{#if Template.subscriptionsReady}}
	<div class="application {{#if adminActive}}with-admin{{/if}}">
		{{#if isInRole 'admin'}}
			<a href='/admin' class="admin-controls-btn btn">&#10006;</a>
			{{> adminHeader}}
		{{/if}}

		<div class="container">
				{{> header}}
				{{> Template.dynamic template=main}}
		</div>

		{{> Template.dynamic template=modal data=data}}
	</div>
	{{> errors}}
	{{/if}}
</template>