<head>
	  <script type="text/javascript" src="//use.typekit.net/sau6dnt.js"></script>
	  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	  <link rel="stylesheet"  type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
</head>

<template name="layout">
	<div class="application">
		{{#if isInRole 'admin'}}
			<button class="admin-controls-btn btn">&#10006;</button>
			{{> adminHeader}}
		{{/if}}
		<div class="container">
				{{> header}}
				{{> yield}}
		</div>
	</div>
	{{> errors}}
</template>