<template name="addPage">
	<div class="add-page-modal modal off-page">
		<button class="close-modal-btn btn">X</button>
		{{> editor}}
		<div class="add-page-container modal-container with-sidebar off-page">
			<h3>Add New Page</h3>

			<form class="form" name="new-page-form">
				<div class="page-content">
					<div class="form-control">
						<label class="label" for="title">Title</label>
						<input id="title" name="title" type="text" value="{{title}}"/>
					</div>

					<div class="edit-slug-box">
						<span class="sample-slug">
							Permalink: {{url}}<span id="slug" class="editable-slug" contentEditable></span>
						</span>
					</div>

					<div class="form-control">
						<label class="label" for="template-type">Select Template Type</label>
						<select type="select" name="template-type" id="template-type">
							{{#each getTemplates}}
								<option value="{{this}}">{{this}}</option>
							{{/each}}
						</select>
					</div>

					<input type="submit" value="Save Page"/>
				</div>
			</form>
		</div>
	</div>
</template>