<template name="addPage">
	{{> editor}}
	<div class="add-page-container modal-container">
		<h3 class="t-a-center">Add New Page</h3>

		<div class="form-wrapper">
			<form class="form" name="new-page-form">
				<div class="page-content">

					{{>formInput label="Title" type="text" value=title name="title" id="title" classes="full"}}
					{{>formInput label="Permalink" type="text" id="slug" value=value classes="full"}}
					{{>formSelect label="Select Template Type" name="new-template-type" id="new-template-type" options=templateOptions }}
					
					{{>formSubmit value="Save Page"}}
				</div>
			</form>
		</div>
	</div>
</template>