<template name="showPage">	
	<div class="page-container off-page">
		{{#if isInRole 'admin'}}
			<button class="edit-page-btn edit-btn btn">Edit</button>
		{{/if}}

		{{#if editMode}}
			{{> editPage}}
		{{else}}
			{{> pageTemplate}}
		{{/if}}
	</div>
</template>

<template name="editPage">
	<div class="page-inner inner edit-mode">
		{{>editor}}
		{{> errors}}
		<form name="edit-page editable">
			<h1 class="page-title title" contenteditable="true">{{title}}</h1>

			<div class="page-content" contenteditable="true">
				{{{content}}}
			</div>

			<a href="#" class="save-page-btn page-btn">
				<img src="/images/check.svg"/>
				<span class="save-text">SAVE</span>
			</a>

			<a href="#" class="delete-page-btn page-btn">
				<img src="/images/x.svg"/>
				<span class="save-text">DELETE</span>
			</a>

			<div class="form-control">
				<label class="label" for="template-type">Select Template Type</label>
				<select type="select" name="template-type" id="template-type">
					{{#each getTemplates}}
						<option value="{{this}}" selected={{isSelected ../pageTemplate}}>{{this}}</option>
					{{/each}}
				</select>
			</div>
		</form>
	</div>
</template>