<template name="showPage">
	
	{{#if editMode}}
		{{>editor}}
	{{/if}}
	<div class="page-container off-page">
		{{#if isInRole 'admin'}}
			<button class="edit-page-btn edit-btn btn">Edit</button>
		{{/if}}

		{{#if editMode}}
			{{> editPage}}
		{{else}}
			<div class="page-inner inner">
				<h1 class="page-title title">{{title}}</h1>

				<div class="page-content">
					{{{content}}}
				</div>
			</div>
		
		{{/if}}
	</div>
</template>

<template name="editPage">
	<div class="page-inner inner edit-mode">
		{{> errors}}
		<form name="edit-page">
			<h1 class="page-title title" contenteditable>{{title}}</h1>

			<div class="page-content" contenteditable>
				{{{content}}}
			</div>

			<a href="#" class="save-page-btn page-btn">
				<img src="/images/check.svg"/>
				<span class="save-text">SAVE</span>
			</a>

			<a href="#" class="delete-page-btn page-btn">
				<img src="/images/x.svg"/>
				<span class="save-text">DELETE</span>
			</a>
		</form>
	</div>
</template>