<template name="editor">
	<div class="sidebar-editor">
		<div class="add-media-section">
			<button class="add-media-btn btn">
				Insert Media
			</button>
		</div>
		<div class="toolbar-section">
			<a data-role='undo' href='#'><i data-role='undo' class='fa fa-undo'></i></a>
	        <a data-role='redo' href='#'><i data-role='redo' class='fa fa-repeat'></i></a>
        </div>

        <div class="toolbar-section">
	        <a data-role='bold' href='#'><i data-role="bold" class='fa fa-bold'></i></a>
	        <a data-role='italic' href='#'><i data-role='italic' class='fa fa-italic'></i></a>
	        <a data-role='underline' href='#'><i data-role='underline' class='fa fa-underline'></i></a>
	        <a data-role='strikeThrough' href='#'><i data-role='strikeThrough' class='fa fa-strikethrough'></i></a>
        </div>

        <div class="toolbar-section">
	        <a data-role='justifyLeft' href='#'><i data-role='justifyLeft' class='fa fa-align-left'></i></a>
	        <a data-role='justifyCenter' href='#'><i data-role='justifyCenter' class='fa fa-align-center'></i></a>
	        <a data-role='justifyRight' href='#'><i data-role='justifyRight' class='fa fa-align-right'></i></a>
	        <a data-role='justifyFull' href='#'><i data-role='justifyFull' class='fa fa-align-justify'></i></a>
        </div>

        <div class="toolbar-section">
	        <a data-role='indent' href='#'><i data-role='indent' class='fa fa-indent'></i></a>
	        <a data-role='outdent' href='#'><i data-role='outdent' class='fa fa-outdent'></i></a>
	        <a data-role='insertUnorderedList' href='#'><i data-role='insertUnorderedList' class='fa fa-list-ul'></i></a>
	        <a data-role='insertOrderedList' href='#'><i data-role='insertOrderedList' class='fa fa-list-ol'></i></a>
        </div>

        <div class="toolbar-section">
	        <a data-role='h1' href='#'>h1</a>
	        <a data-role='h2' href='#'>h2</a>
		    <a data-role='h3' href='#'>h3</a>
	        <a data-role='h4' href='#'>h4</a>
	        <a data-role='h5' href='#'>h5</a>
	        <a data-role='p' href='#'>p</a>
	        <a data-role='subscript' href='#'><i data-role='subscript' class='fa fa-subscript'></i></a>
	        <a data-role='superscript' href='#'><i data-role='superscript' class='fa fa-superscript'></i></a>
        </div>
	</div>
</template>